:root {
  --color-brand: #4d5ae5;
  --color-activ: #404bbf;
  --color-border: #e7e9fc;

  --main-color: #434455;
  --secondary-color: #2e2f42;
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
}

/* .container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/*------ header -----------*/

@media screen and (max-width: 427px) {
  .nav-menu {
    display: none;
  }

  .header-contact {
    display: none;
  }
}

@media screen and (min-width: 428px) {
  .mobile-menu-open {
    display: none;
  }
}

@media screen and (max-width: 427px) {
  .nav-menu {
    display: none;
  }

  .header-contact {
    display: none;
  }
}


.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mobile-menu-open {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: bisque;
}

.mobile-menu.is-open {
  opacity: 0;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 250ms var(--cubic), border 250ms var(--cubic);
}


/* .mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--color-activ);
  border: none;
  fill: var(--main-background-color);
} */

/* .mobile-menu-close-icon {
  transition: fill 250ms var(--cubic);
} */


/* .page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .header-nav {
  display: flex;
  align-items: center;
} */

/* .nav-menu {
  display: flex;
} */

/* .nav-menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
} */

/* .nav-menu-item:not(:last-child) {
  margin-right: 40px;
} */

.header-logo {
  color: var(--color-brand);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-word {
  color: var(--secondary-color);
}

/* .text-nav {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
} */

/* .text-nav:hover,
.text-nav:focus {
  color: var(--color-activ);
} */

/* .text-nav-activ {
  position: relative;
  color: var(--color-activ);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;

  transition: color 250ms var(--cubic);
} */

/* .text-nav-activ::after {
  position: absolute;
  display: flex;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--color-activ);
  border-radius: 2px;
} */

/* .header-contact {
  font-style: normal;
} */
/* .contact-menu {
  display: flex;
} */
/* .contact-menu-item:not(:last-child) {
  margin-right: 40px;
} */

/* .text-contact {
  color: var(--main-color);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic);
} */

/* .text-contact:hover,
.text-contact:focus {
  color: var(--color-activ);
} */

/* .page-header {
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} */

/*------ main studio ----------*/

/*------Section 1 hero -----------*/
/* 
.hero {
  max-width: 1440px;
  height: 600px;
  background-color: var(--secondary-color);
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  color: var(--main-background-color);
  background-color: var(--color-brand);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;

  transition: background-color 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-activ);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/*------Section 2 features -----------*/
/* 
.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100%-72px) / 4);
}

.features-item {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--secondary-background-color);
  margin-bottom: 8px;
  border-radius: 4px;
} */

/*------Section 3 What are we doing -----------*/
/* 
.section-work {
  padding-bottom: 120px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-item {
  width: calc((100%-48px) / 3);
}

.work {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
} */

/*------Section 4 team -----------*/
/* 
.team-content {
  background-color: var(--secondary-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-work {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--color-border);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-box {
  padding: 32px 0;
}

.team-header-item {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-icon {
  fill: var(--secondary-background-color);
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-brand);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms var(--cubic);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-activ);
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
} */

/*------ customers -----------*/
/* 
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border-color 250ms var(--cubic), color 250ms var(--cubic);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-activ);
  color: var(--color-activ);
}

.customers-icon {
  fill: currentColor;
} */

/*------portfolio -----------*/
/* 
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-brand);
  background-color: var(--secondary-background-color);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    border-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-background-color);
  background-color: var(--color-activ);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  transition: box-shadow 250ms var(--cubic);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-item {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}

.portfolio-header {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-card-text {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.box {
  position: relative;
  width: 360px;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--secondary-background-color);
  background-color: var(--color-brand);
  width: 100%;
  height: 100%;

  transform: translatey(100%);

  transition: transform 250ms var(--cubic);
}

.portfolio-card:hover .overlay-text,
.portfolio-card:focus .overlay-text {
  transform: translatey(0);
} */

/* ------------------------------------------------------------------------------------ */

/*------ footer -----------*/

/* .footer-content {
  background-color: var(--secondary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--color-brand);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-word {
  color: var(--secondary-background-color);
}

.footer-text {
  color: var(--secondary-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms var(--cubic);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: var(--secondary-background-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-background-color);
  margin-bottom: 16px;
}

.footer-container-logo {
  margin-right: 120px;
}

.footer-container-subscribe {
  margin-left: 80px;
}

.footer-subscribe-text {
  color: var(--main-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: flex-end;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--main-background-color);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-subscribe-input::placeholder {
  color: var(--main-background-color);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  color: var(--main-background-color);
  background-color: var(--color-brand);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 24px;

  transition: background-color 250ms var(--cubic);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--color-activ);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
  margin-left: 16px;
  fill: var(--main-background-color);
} */

/* -----------modal----------------- */
/* 
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--cubic);
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  fill: var(--secondary-color);

  transition: background-color 250ms var(--cubic), border 250ms var(--cubic);
}

.close:hover,
.close:focus {
  background-color: var(--color-activ);
  border: none;
  fill: var(--main-background-color);
}

.close-icon {
  transition: fill 250ms var(--cubic);
}

.modal-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-label-field {
  margin-bottom: 8px;
  width: 100%;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-field {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;

  transition: border-color 250ms var(--cubic);
}

.modal-input:focus {
  outline: transparent;
  border-color: var(--color-brand);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--secondary-color);

  transition: fill 250ms var(--cubic);
}

.modal-input:focus + .modal-icon {
  fill: var(--color-brand);
}

.modal-comment-field {
  margin-bottom: 16px;
  width: 100%;
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;

  transition: border-color 250ms var(--cubic);
}

.modal-comment:focus {
  outline: transparent;
  border-color: var(--color-brand);
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}




.modal-checkbox {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.modal-label-checkbox {
  align-items: center;
}

.modal-input-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.modal-checkbox-link {
  padding-left: 2px;
  color: var(--color-brand);
}

.modal-fake-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  fill: transparent;

  transition: background-color 250ms var(--cubic),
  border 250ms var(--cubic),
  fill 250ms var(--cubic);
}


.modal-input-checkbox:checked +.modal-label-checkbox > .modal-fake-checkbox {
  background-color: var(--color-activ);
  border: none;
  fill:var(--main-background-color);
}

.modal-btn {
  min-width: 169px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  background-color: var(--color-brand);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-activ);
} */
